@font-face {
    font-family: Cereal;
    src: url(../fonts/AirbnbCereal_W_Bd.otf);
}

html {
    scroll-behavior: smooth;
}

*{
    font-family: Cereal, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

#enHautLa{
    position: absolute;
    top: 0;
}

/***************************
            Body
****************************/

body{
    margin:0;
}

main{
    margin-top:5em;
}

/*****HAUT DU SITE*******/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 12vh;
    top: 0;
    color: white;
    background-color: rgb(48, 48, 48);
    border-bottom: 2px solid rgb(255, 255, 255);
}

header  > img{
    height: 5vh;
    margin: 1vw;

}

header > div > a{
    color: black;
}

nav{
    width: 80%;
    height: 12vh;
    display: flex;
    margin:0;
    flex-grow: 3;
    flex-shrink: 3;
    justify-content: flex-end;
    align-items: stretch;
}

nav > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 1em;
    padding: 1em;
    border-radius: 1em;
    transition: background-color 0.5s;
}

nav > div a {
    color: white;
    text-decoration: none;
    transition:
        text-decoration 0.5s,
        color 0.5s;
}

nav > div:hover{
    background-color: white ;
}

nav > div:hover > a{
    color: #406ef1;
    text-decoration: underline;
}

.submenu{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    position: absolute;
    top: 10vh;
    background-color:midnightblue;
    border-radius: 1em;
    width: 10vw;
    padding: 0.5vh;
    transform: translateY(-10vh);
    transition: all .5s;
    opacity: 0;
    pointer-events: none;
}

div:hover > .submenu{   
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.submenu > div{
    display: flex;
    padding:0.5em;
    background: none;
    border-radius: 1em;
    justify-content:flex-start;
}

.submenu > div:hover{
    background-color: white;
}

.submenu > div a{
    color: white;
}

.submenu > div:hover a{
    color: #406ef1;
}

#burger, .menuBurger {
    display: none;
    position: absolute;
}

@media (max-width: 720px) {
    nav div:not(.menuBurger):not(.menuBurger div) {
        display: none;
    }

    
    #burger {
        display: flex;
        background: none;
        flex-direction: column;
        justify-content: flex-start;
        height: 10%;
        width: 10%;
        padding:0;
        margin:0 5% 0 0;
    }

    .menuBurger, .submenuBurger{
        display: flex;
        flex-direction: column;
        border-radius: 1em;
        padding: 0.1em;
        background-color:rgb(48, 48, 48);
        transition: all .5s;
        opacity: 0;
        pointer-events: none;
    }

    .menuBurger{
        position: relative;
        width: 30vw;
        bottom: 2vh;
        right: 0;
        transform: translateY(-10vh);
    }

    .submenuBurger{
        position: absolute;
        border-right: black 1px solid;
        margin:0;
        right: 100%;
        top: 15vh;
        transform: translateX(10vw);
    }

    #burger:hover > .menuBurger, div:nth-child(3):hover > .submenuBurger {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }

    .menuBurger div{
        border-radius: 1em;
        padding: 2vh;
    }

    .menuBurger > div:hover, .submenuBurger > div:hover{
        background-color: white;
    }

    .menuBurger div:hover > a{
        color: #406ef1;
        text-decoration: underline;
    }
}

.currentPage{
    background-color: white;
}

.currentPage > a{
    color:black
}

/************* PLAT PRINCIPAL ***************/

main {
    display: flex;
    flex-direction: column;
}

.bgImage {
    background-image: url("../Images/background.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

#DivTitre{
    margin: 15% 10vw;
    backdrop-filter: blur(10px);
    border-radius: 4vw;
    background: rgba(0, 0, 0, 0.5);
}

#DivTitre > h1{
    padding: 0.5vw;
    margin: 0;
    font-size:5vw;
    text-align: center;
    color: white;
}

article {
    padding: 1% 5%;
    background: white;
    width: 66%;
    flex-shrink: 2;
    flex-grow: 1;
    text-align:justify;
}

aside {
    width: 300px;
    flex-shrink: 0;
    flex-grow: 1;
}


/************ Footer ****************/

#goTop{
    position: absolute;
}

#goTop > a{
    position: fixed;
    font-size: 1em;
    bottom: 2vh;
    right: 2vw;
    transition: all 0.3s ease 0s;
    background-color: rgba(48, 48, 48, 0.8);
    padding: 1em;
    text-decoration: none;
    color: white;
    border-radius: 6em;
    border: 0.3em transparent solid;
}
    
#goTop:hover > a{
    border: 0.3em #406ef1 solid;
    color: #406ef1;
    cursor:pointer;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    height: 9vw;
    width: 100%;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    position: static;
    margin-bottom:0;
}

footer a{
    font-size: 1.5vw;
    color: white;
    max-width: 19vw;
}


/************ SPECIAL CONTACT ********************/

input{
    border-radius: 0.5vw;
}

main.Contact{
    display: flex;
    flex-direction: row;
}

article.Contact{
    padding: 2% 5%;
    background: white;
    width: 20%;
    flex-shrink: 3;
    flex-grow: 1;
}

aside.Contact{
    width: 30vw;
    flex-shrink: 1;
    padding: 2% 5%;
}

form div{
    display: flex;
    margin: 3vh;
}

.red{
    color:red;
}

form div {
    transition: transform .1s;
    transition: margin 0.3s;
}

form div:hover {
        margin-left: 2vw;
}

form #boutton{
    transition: transform 0.1s;
}

form #boutton:hover {
    transform: scale(1.2,1.2);
    
}


@media (max-width: 950px) {
    main.Contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    article.Contact{
        background: white;
        width: 90%;
    }
    aside.Contact{
        position: static;
        justify-self: center;
        width: 100%;
    }
    
    form {
        width: 3vw;
    }

    form div{
        display: flex;
        width: 90vw;
    }

}

/*********** SPECIAL PESTEL ***********/
.bgImageStatic {
    background-attachment:fixed;
    background-position:top;
    background-size: cover;
    background-image: url("../Images/background.webp");
}

main.pestel {
    backdrop-filter: blur(10px);
    border-radius: 4vw;
    margin: 2vw;
    background: rgba(0, 0, 0, 0.5);   
    display: flex;
    justify-content: stretch;

}

main.pestel #DivTitre{
    display:flex;
    flex-direction: column;
    width: 70%;
    border: 2px white solid;
    box-shadow:  2vh 2vw 10vh #dedede;
    margin: 30vh auto;   
}


main.pestel > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20vw;
}

main.pestel > div > div{
    display:flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60vh;
}

main.pestel h2{
    font-size: 20vw;
    line-height: 2.5vw;
    cursor: pointer;
    transition: transform .5s;
}

main.pestel p{
    font-size: 2vw;
    display: none;
    position: absolute;
    width: 35vw;
    bottom:0%;
}

div:nth-child(2):hover > h2{
    transform: translate(25vw);
}


div:nth-child(2):hover > div > p{
    display: block;
    animation: fadein 2s;
    right: -5vw;
}

div:nth-child(1):hover > h2{
    transform: translate(-25vw);
}


div:nth-child(1):hover > div > p{
    display: block;
    animation: fadein 2s;
    left: -5vw;
}

main.pestel div > p{
    padding: 2vw;
    border-radius: 5vh;
    background: rgba(0, 0, 0, 0.5);
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#P{
    color: red;
}

#E{
    color: orange;
}

#S{
    color: yellow;
}

#T{
    color: lightseagreen;
}

#E2{
    color: lightgreen;
}

#L{
    color: blue;
}

/************* SPECIAL SYNOPSIS ***************/
#lesdeux{
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(10px);
    border-radius: 4vw;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 10vw;
    padding: 3vw 0;
    margin-bottom: 2vw;
    justify-content: space-around;
}

#rr{
    position: relative;
    bottom: 1.5vw;
    width: 40vw;
}

#syo{
    position: static;
    color: lightskyblue;
    text-align: justify;
    line-height: 2vw;
    font-size: 1.5em;
    width: 45vw;
}

@media (max-width: 900px) {
    .bgImage{
        background-image: url("../Images/background.webp");
        background-position: top;
        background-size: 300%;
        background-repeat: no-repeat;
    }

    .bgImage2 {
        background-image: url("../Images/background.webp");
        background-position: bottom;
        background-size: auto;
        background-repeat: no-repeat;
        height: 50%;
    }

    #lesdeux{
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(10px);
        border-radius: 4vw;
        background: rgba(0, 0, 0, 0.5);
        margin-top: 15vw;
        align-items: center;
    }
    
    #rr{
        width: 80vw;
    }
    
    #syo{
        position: static;
        line-height:normal;
        color: lightskyblue;
        font-size: 4vw;
        width: 80vw;
    }
}